
<!--------------------------------------------------------------| Dashboard Sidebar |---------------------------------------------------------------------->
  <app-sidebar></app-sidebar> 

  <div class="depth">
    <img src="../../../assets/images/admin2.jpg" class="bg-img" alt="placeholder">
    <div class="my-3">  
      <div class="d-flex justify-content-center">
        <h1 *ngIf="this.authService.log"> Hello {{this.authService.log.firstName}} ! </h1>
        </div>
      <div class="d-flex justify-content-center">
        <h5 class="text-muted">( Customize your page from here )</h5>
      </div>
    </div>

<!---------------------------------------------------------| Customize the Intro |---------------------------------------------------------------->
<div id="intro" class="py-5">
  <div style="background-color: #112;border-radius: 10px;">
    <div class="p-2">
      <button type="button" class="btn btn-block btn-lg btn-outline-primary p-3" (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1"> Customize the Intro  </button>
    </div>
    <div id="collapseExample1" [ngbCollapse]="isCollapsed1" >
      <div class="card z-depth-1" style="background-color: #112;">
        <div class="card-body">
          <div class="row py-2">
            <div class="col-lg-8">
              <div class="image-area">
                <div *ngFor= "let intro of getIntroVid">
                  <video id="videoIntro" playsinline="playsinline" style="width: 100%;max-height: 400px;object-fit: cover;">
                    <source src="{{intro.data}}" type="video/mp4">
                  </video>
                  <div class="row justify-content-center" >
                    <button class="btn btn-outline-primary btn-rounded mx-3 my-2 waves-effect z-depth-2" (click)="playVid()" type="button"><i class="fas fa-play"></i></button>
                    <h6 class="my-2 text-muted"> intro video - current </h6>
                    <button class="btn btn-outline-primary btn-rounded mx-3 my-2 waves-effect z-depth-2" (click)="pauseVid()" type="button"><i class="fas fa-pause"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="py-3">
                <h4 class="text-center "> Customize the Intro </h4>
                <h6 class="text-center text-muted"> (Please note that this operation is non-reversible) </h6>
              </div>
              <form class="text-center" autocomplete="off" >
                <div class="input-group shadow-lg" style="background-color: #223;" >
                  <input id=upload type="file" class="form-control" (change)="newIntro($event)" accept=".mp4" />
                  <label id="upload-label" for="upload" class="font-weight-light text-muted" >Choose file for Intro </label>
                </div> 
                <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="submitVideo()"> Update Intro </button>   
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------------| Customize PortFolio and Intro |---------------------------------------------------------------->
      <div style="background-color: #112;border-radius: 10px;">
        <div class="p-2">
          <button type="button" class="btn btn-block btn-lg btn-outline-primary p-3" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample"> Customize the Portfolio </button>
        </div>
        <div id="collapseExample" [ngbCollapse]="isCollapsed2">
          <div class="card z-depth-1" style="background-color: #112;">
            <div class="card-body">
              <ngb-tabset [destroyOnHide]="false">
     
               <ngb-tab title="Default Content">
                    <ng-template ngbTabContent>
                      <div class="row py-2">
                        <div class="col-lg-8">
                          <div class="image-area">
                            <div class="row py-2">
                              <div class="col-lg-3" *ngFor= "let photo of getDefault" >
                                <img id="imageResult" src="{{photo.data}}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block img-def">
                                <h6 class="text-center py-1 text-muted" > {{photo.id}}</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="py-3">
                            <h4 class="text-center "> Customize default set of photos </h4>
                            <h6 class="text-center text-muted"> (Please note that this operation is non-reversible) </h6>
                          </div>
                          <form class="text-center" autocomplete="off" >
                            <select id="imageId" name="imageId" class="mdb-select md-form border-0 custom-select" style="background-color:#223;" (change)="selectImage($event.target.value)"> 
                              <option style="background-color: #112;"  value="" disabled selected> Select Image to update</option>
                              <option style="background-color: #112;"  value="image1">Image 1</option>
                              <option style="background-color: #112;"  value="image2">Image 2</option>
                              <option style="background-color: #112;"  value="image3">Image 3</option>
                              <option style="background-color: #112;"  value="image4">Image 4</option>
                              <option style="background-color: #112;"  value="image5">Image 5</option>
                              <option style="background-color: #112;"  value="image6">Image 6</option>
                              <option style="background-color: #112;"  value="image7">Image 7</option>
                              <option style="background-color: #112;"  value="image8">Image 8</option>
                            </select>
                            <div class="input-group shadow-lg" style="background-color: #223;" >
                              <input id=upload type="file" class="form-control" (change)="newImage($event)" accept=".png,.jpg" />
                              <label id="upload-label" for="upload" class="font-weight-light text-muted" >Choose file</label>
                            </div> 
                            <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="submit(true)">Update </button>   
                          </form>
                        </div>
                      </div>      
                    </ng-template>
                </ngb-tab>
            
                <ngb-tab title="Default Content">
                    <ng-template ngbTabContent>
                      <div class="row py-2">
                        <div class="col-lg-8">
                          <div class="image-area">
                            <div class="row py-2">
                              <div class="col-lg-3" *ngFor= "let photo of getOptional" >
                                <img id="imageResult" src="{{photo.data}}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block img-def">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="py-3">
                            <h4 class="text-center "> Customize optional set of photos </h4>
                            <h6 class="text-center text-muted"> (Please note that this operation is non-reversible) </h6>
                          </div>
                          <form class="text-center" autocomplete="off" >
                            <div class="input-group shadow-lg" style="background-color: #223;" >
                              <input id=upload type="file" class="form-control" (change)="newImage($event)" accept=".png,.jpg" />
                              <label id="upload-label" for="upload" class="font-weight-light text-muted" >Choose file</label>
                            </div> 
                            <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="submit(false)">Update </button>   
                          </form>
                        </div>
                      </div>      
                    </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>

      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
      <p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>
<p>dsf </p>

    </div>
<!-- </div> -->
 