<div class="wrapper">

    <!--------------------------------------------------------| HOME |------------------------------------------------------->
  

    
    <header id="home">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
              <img src="../../../assets/images/logoWhite.png" style="width: 600px;padding-top: 50px;" > 
              <h3 class="lead mb-0">
                <div class="row  justify-content-center" >
                  <div style="padding-right: 30px "> P R O D U C T I O N </div>
                  <div style="padding-right: 30px"> | </div>
                  <div style="padding-right: 30px"> P H O T O G R A P H Y </div>
                  <div style="padding-right: 30px"> | </div>
                  <div style="padding-right: 30px"> P R O M O T I O N </div>
                </div>
              </h3>
            </div>
          </div>
        </div>
      </header>
  
    <!------------------------------------------------------| CAROUSAL |----------------------------------------------------->

    <div class="container py-5">
      <section class="dark-grey-text">

        <h1 class="title text-center" style="font-size:calc(3em + 1vw); font-family: 'Tangerine';color:black ;font-weight:bold;"> Who Are We?  </h1>
        <hr style="background-color: #333 ; width: 30vw;height: 5px;"> 
        <br>
        <p class="text-center lead grey-text mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    
        <div class="row">
          <div class="col-lg-5 text-center text-lg-left">
            <img class="img-fluid z-depth-3" src="../../../assets/images/logoDark.jpg" alt="Sample image">
          </div>
          <div class="col-lg-7">
            <div class="row mb-3">
              <div class="col-1">
                <i class="fas fa-share fa-lg indigo-text"></i>
              </div>
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Topic 1</h5>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
                  quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1">
                <i class="fas fa-share fa-lg indigo-text"></i>
              </div>
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3"> Topic 2</h5>
                <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima
                  veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    </div>
    
    <!-- <div class="section" id="carousel" style="padding-top: 50px;padding-bottom: 50px ;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12 feature">
                  <h1 style="font-size:calc(3em + 1vw); font-family: 'Tangerine';color: #c6a16e;"> Who are we ,  <strong> 3 Pixels ? </strong> </h1>
                  <br>
                  <h3 style="padding: 15px; text-align: justify ; font-family: 'Tangerine', cursive;color: #c6a16e;font-size: 200%;"> " Sometimes pictures do tell the story of life. We capture your life story in an amazingly uncommon way. " </h3>
                </div>
  
                <div class="col-lg-8 col-md-12">
                  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image1.jpg" alt="slide 1">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image2.jpg" alt="slide 2">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image3.jpg" alt="slide 3">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image4.jpg" alt="slide 4">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image5.jpg" alt="slide 5">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image6.jpg" alt="slide 6">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image7.jpg" alt="slide 7">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" style="border-radius: 5px;" src="assets/Slides/image8.jpg" alt="slide 8">
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
            </div>
        </div>
    </div>  -->

    <!----------------------------------------------------| WHAT WE OFFER |------------------------------------------------>

        <div id="offer" class="container" style="padding-top: 80px;">
          <section class="p-md-3 mx-md-5 text-center text-lg-left">
            <h1 class="title text-center" style="font-size:calc(3em + 1vw); font-family: 'Tangerine' ;color:black;"> What We offer of clients </h1> 
            <hr style="background-color: #333 ; width: 30vw;height: 5px;"> 
            <br>
            <div class="row">
              <div class="col-lg-4 col-md-6" style="padding-bottom: 30px;">
                <div class="card z-depth-3" style="background: #223;">
                  <div class="avatar w-100 d-flex justify-content-center align-items-center" style="background-color: #223;">
                    <img src="assets/Slides/vibrant.jpg" class="img-fluid rounded-circle" style="padding: 60px;border-color: royalblue;" />
                  </div>
                  <div class="card-body text-center" style="margin-top: -60px;">
                    <hr style="width: 70%;height: 2px;background-color: royalblue;">
                    <h3> Weddings </h3> 
                    <br>
                    <button class="btn-lg offer_btn" [routerLink]="['/FilterPage/Parties']">Search now</button>
                    <br><br>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6" style="padding-bottom: 30px;">
                <div class="card z-depth-3" style="background: #223;">
                  <div class="avatar w-100 d-flex justify-content-center align-items-center" style="background-color: #223;">
                    <img src="assets/Slides/vibrant.jpg" class="img-fluid rounded-circle" style="padding: 60px;border-color: royalblue;" />
                  </div>
                  <div class="card-body text-center" style="margin-top: -60px;">
                    <hr style="width: 70%;height: 2px;background-color: royalblue;">
                    <h3> Birthday Parties </h3> 
                    <br>
                    <button class="btn-lg offer_btn" [routerLink]="['/FilterPage/Parties']">Search now</button>
                    <br><br>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6" style="padding-bottom: 30px;">
                <div class="card z-depth-3" style="background: #223;">
                  <div class="avatar w-100 d-flex justify-content-center align-items-center" style="background-color: #223;">
                    <img src="assets/Slides/vibrant.jpg" class="img-fluid rounded-circle" style="padding: 60px;border-color: royalblue;" />
                  </div>
                  <div class="card-body text-center" style="margin-top: -60px;">
                    <hr style="width: 70%;height: 2px;background-color: royalblue;">
                    <h3> Coorporate Events </h3> 
                    <br>
                    <button class="btn-lg offer_btn" [routerLink]="['/FilterPage/Parties']">Search now</button>
                    <br><br>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6" style="padding-bottom: 30px;">
                <div class="card z-depth-3" style="background: #223;">
                  <div class="avatar w-100 d-flex justify-content-center align-items-center" style="background-color: #223;">
                    <img src="assets/Slides/vibrant.jpg" class="img-fluid rounded-circle" style="padding: 60px;border-color: royalblue;" />
                  </div>
                  <div class="card-body text-center" style="margin-top: -60px;">
                    <hr style="width: 70%;height: 2px;background-color: royalblue;">
                    <h3> Get-Togethers </h3> 
                    <br>
                    <button class="btn-lg offer_btn" [routerLink]="['/FilterPage/Parties']">Search now</button>
                    <br><br>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6" style="padding-bottom: 30px;">
                <div class="card z-depth-3" style="background: #223;">
                  <div class="avatar w-100 d-flex justify-content-center align-items-center" style="background-color: #223;">
                    <img src="assets/Slides/vibrant.jpg" class="img-fluid rounded-circle" style="padding: 60px;border-color: royalblue;" />
                  </div>
                  <div class="card-body text-center" style="margin-top: -60px;">
                    <hr style="width: 70%;height: 2px;background-color: royalblue;">
                    <h3>Something Else </h3> 
                    <br>
                    <button class="btn-lg offer_btn" [routerLink]="['/FilterPage/Parties']">Search now</button>
                    <br><br>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6" style="padding-bottom: 30px;">
                <div class="card z-depth-3" style="background: #223;">
                  <div class="avatar w-100 d-flex justify-content-center align-items-center" style="background-color: #223;">
                    <img src="assets/Slides/vibrant.jpg" class="img-fluid rounded-circle" style="padding: 60px;border-color: royalblue;" />
                  </div>
                  <div class="card-body text-center" style="margin-top: -60px;">
                    <hr style="width: 70%;height: 2px;background-color: royalblue;">
                    <h3> Something Else </h3> 
                    <br>
                    <button class="btn-lg offer_btn" [routerLink]="['/FilterPage/Parties']">Search now</button>
                    <br><br>
                  </div>
                </div>
              </div>
              
            </div>
          </section>
        </div>

    <!----------------------------------------------------| Gallery |------------------------------------------------>
    
    <h1 class="title text-center" style="font-size:calc(3em + 1vw); font-family: 'Tangerine';color:black ;"> Explore Photos </h1>
    <hr style="background-color: #333 ; width: 30vw;height: 5px;"> 
    <br>
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div id="grid" class="row">
                  <div class="mix col-sm-3 page1 page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image1.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
  
                  </div>
                  <div class="mix col-sm-3 page2 page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image2.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
  
                  </div>
                  <div class="mix col-sm-3  page3 page2 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image3.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
  
                  </div>
                  <div class="mix col-sm-3  page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image4.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
  
                  </div>
                  <div class="mix col-sm-3 page1 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image5.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
  
                  </div>
                  <div class="mix col-sm-3  page2 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image6.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
  
                  </div>
                  <div class="mix col-sm-3  page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image7.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
  
                  </div>
                  <div class="mix col-sm-3 page4  margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image8.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
                  </div>                                                            
              </div>
          </div>
      </div>
    </div>
    
    <div class="container-fluid" >
      <div id="collapseExample" style="padding-top: 30px;" [ngbCollapse]="isCollapsed">
        <div class="row">
          <div class="col-md-12">
              <div id="grid" class="row">
                  <div class="mix col-sm-3 page1 page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image1.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3 page2 page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image2.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page3 page2 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image3.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image4.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3 page1 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image5.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page2 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image6.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image7.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3 page4  margin30">
                      <div class="item-img-wrap ">
                          <img src="assets/Slides/image8.jpg" class="img-responsive img-fluid z-depth-5 rounded" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
                  </div>                                                            
              </div>
          </div>
      </div>
      </div>
    </div>
    

    <div class="justify-content-center d-flex" *ngIf="isCollapsed"> 
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> Load More... </button>
    </div>

    
    <div class="justify-content-center d-flex" *ngIf="!isCollapsed"> 
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> Minimize Content </button>
    </div>

    <!-----------------------------------------------------| Testimonials |---------------------------------------------------->

    <div class="container mt-5" >
      <section class="text-center dark-grey-text">
        <h1 class="title text-center" style="font-size:calc(3em + 1vw); font-family: 'Tangerine';color:black ;"> Testimonials </h1>
        <hr style="background-color: #333 ; width: 30vw;height: 5px;"> 
        <br>
        <div class="z-depth-2" style="background-color: #eee;">
          <div style="padding: 20px;">
          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
              <div class="testimonial">
                <div class="avatar mx-auto mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
                    alt="First sample avatar image">
                </div>
                <p>
                  <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                  eos
                  id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore
                  sit, aspernatur praesentium iste impedit quidem dolor veniam.
                </p>
                <h4 class="font-weight-bold">Anna Deynah</h4>
                <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="testimonial">
                <div class="avatar mx-auto mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
                    alt="Second sample avatar image">
                </div>
                <p>
                  <i class="fas fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                  odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                  porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                  non numquam eius modi tempora incidunt ut labore. </p>
                <h4 class="font-weight-bold">Maria Kate</h4>
                <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="testimonial">
                <div class="avatar mx-auto mb-4">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
                    alt="Third sample avatar image">
                </div>
                <p>
                  <i class="fas fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                  error sit voluptatem accusantium doloremque laudantium.</p>
                <h4 class="font-weight-bold">John Doe</h4>
                <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </div>
      </section>
    </div>


 <!-----------------------------------------------------| Our Team |---------------------------------------------------->
    <div id="team" class="container" style="padding-top: 80px;">
      <section class="pb-3 text-center ">
        <h1 class="title text-center" style="font-size:calc(3em + 1vw); font-family: 'Tangerine';color:black ;"> Our Team </h1>
        <hr style="background-color: #333 ; width: 30vw;height: 5px;"> 
        <br>

      <div class="content-center">  
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4" style="padding-bottom: 30px;">
            <div class="card z-depth-3">
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/Slides/mahesh.jpg" alt=""></mdb-card-img>
              </div>
              <div class="card-body text-center">
                <h4 style="color: #223;"> Mahesh Fernando </h4> 
                <p class="text-muted">
                  <small><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></small>
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
    </div>











          



    <!-----------------------------------------------------| CONTACT US |---------------------------------------------------->

    <div id="numbers" class=" row analytics">
      <div class="image" style="background-image: url('../../../assets/images/cover2.jpg');" >
          <div class="overlay"></div>
      </div>
      <div class="container my-5 px-0" id="contacts">
        <section class="p-5 my-md-5 text-center" style="background-image: url(../../../assets/images/contact.jpg);background-size: cover; background-position: center center;border-radius: 10px;">
          <h3 class="text-center font-weight-bold text-white mt-5 mb-3">Contact Us</h3>
          <h4 class="text-center font-weight-normal text-white mx-auto mb-4 pb-2">We love to hear from you!</h4>
          <form class="mb-5 mx-md-5" action="">
            <div class="row">
              <div class="col-md-4 mb-4">
                <input type="text" id="name" class="form-control" placeholder="Name">
              </div>
              <div class="col-md-4 mb-4">
                <input type="email" id="email" class="form-control" placeholder="Email">
              </div>
              <div class="col-md-4 mb-4">
                <input type="number" id="phone" class="form-control" placeholder="Phone (optional)">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-4">
                <input type="text" id="subject" class="form-control" placeholder="Subject">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group mb-4">
                  <textarea class="form-control rounded" id="message" rows="3" placeholder="How can we help?"></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn text-white" style="background-color: royalblue;width: 200px;">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>    
    
    <!---------------------------------------Footer------------------------------------------>

 <footer class="page-footer font-small darken-3" style="background-color: #223;">
  <div class=" d-flex footer-copyright justify-content-center py-3" style="padding-left: 50px ;">
    <a class="justify-text-center" href="https://www.facebook.com/3PixelsPhotography/">
      <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a class="justify-text-center" href="https://www.flickr.com/photos/workofthreepixels/albums">
      <i class="fab fa-flickr fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a class="justify-text-center">
      <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a> 
  </div>
  <div class="d-flex justify-content-center" style="padding-bottom: 10px;padding-top:5px  ;">
    © 2020 Copyright: <a href="#home"> Team 3Pixels</a>
  </div>
</footer>
 

  
</div>

