<div class="container" style="padding-top: 115px;padding-bottom: 50px;">
<!---------------------------------------------------| Weddings |--------------------------------------------------->

  <div class="card z-depth-3" style="font-family: 'Jost', sans-serif;text-align: justify;min-height: 830px;">
    <h1 class="title text-center primary-color text-white card-header" style="font-size:calc(3em + 1vw); font-family: 'Tangerine';"> Weddings </h1>
    <div class="card-body" style="color: black;">
      <ngb-tabset [justify]="currentJustify">
        <ngb-tab>
          <ng-template ngbTabTitle ><strong style="font-size:calc(2em); font-family: 'Tangerine';">Elite</strong></ng-template>
          <ng-template ngbTabContent>
            <section class="pricing px-5" style="padding-top: 20px;">
              <div class="text-muted">
              Recommended package for everyone who is looking for something extra to
              immortalize their wedding day. We will be there when you wake up to get your
              makeup done, through the day until every living soul leave the venue.
              </div>
              <ul class="fa-ul px-3" style="padding-top: 10px;">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Album with 40 Spreads (10”x24”), [80 Pages of (10”x12”)]
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Golden foiled title on both album and the Box.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  At a maximum number of 400 - 600, your guests will receive a double side  6”x 6” sized Thank
                  You card for witnessing your best day, which you get to choose what is best. (You can always ask for more if you want so)             
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Four Framed portraits of you two together.Each reaching maximum size of 30”x20” One can be utilized as a signing Photograph.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  starting from 12”x8”. 10”x8” photograph [with out frame] for each Bridesmaid and
                  Flower Girl.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  A table deco Photographs [of pre shoot / morning session ] for each table .Maximum
                  for 20 tables.Additional per one photo 300/-
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  You get a 10% Discount on your Home-coming and Enjoy the Free Pre-Shoot with us.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Photo Booth & beautiful props upon your request.this will be a value addition
                  for your invited guests to enjoy , and to make your day a memorable day for them too.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Pre Shoot album of 15 spreads [30 Pages]
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Every digital photograph captured on that day with full resolution without any
                  watermarks or copy protection on a DVD(s) (Blu-ray Disk will provide on request).
                  Moreover, we will keep your photographs forever
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Each and every Photograph will be uploaded in our flicker page & Facebook Fan
                  page for you to send the links to your international friends / relations.             
                </li>
              </ul>
            </section>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle ><strong style="font-size:calc(2em); font-family: 'Tangerine';">Golden</strong></ng-template>
          <ng-template ngbTabContent>
            <section class="pricing px-5" style="padding-top: 20px;">
              <div class="text-muted">
                If you are looking for a decent wedding album, this is the one for you. Have full of beautiful photographs edited
                and laid out by professionals, captured on Your Day.
              </div>
              <ul class="fa-ul px-3" style="padding-top: 10px;">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Album with 25 Spreads (10”x24”), [50 Pages of (10”x12”)] 
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Golden foiled title on both album and the Box.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  At a maximum number of 300, your guests will receive a Thank You card for
                  witnessing your best day, which you get to choose what is best.(You can always ask for more if you want so)
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Three Framed portraits of you two together. One with the size of 30”x20” and Two of 18”x12” sized framed portraits. (
                  One of 18”x12” sized framed portraits for signing)
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10”x8” photograph [with out frame] for each Bridesmaid and Flower Girl.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  A table Deco Photographs [of pre shoot / morning session ] for each table .Maximum
                  for 15 tables.Additional per one photo 300/-
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10% Discount on your Home-coming and Enjoy the Free Pre-Shoot with us.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Photo Booth & beautiful props upon your request.this will be a value addition
                  for your invited guests to enjoy , and to make your day a memorable day for them
                  too.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Every digital photograph captured on that day with full resolution without any
                  watermarks or copy protection on a DVD(s) (Blu-ray Disk will provide on request).
                  Moreover, we will keep your photographs forever
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Each and every Photograph will be uploaded in our flicker page & Facebook Fan
                  page for you to send the links to your international friends / relations.             
                </li>
              </ul>
            </section>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle ><strong style="font-size:calc(2em); font-family: 'Tangerine';">Silver</strong></ng-template>
          <ng-template ngbTabContent>
            <section class="pricing px-5" style="padding-top: 20px;">
              <div class="text-muted">
                Is your wedding a Short and Sweet, and a little budget conscious event with a small crowd? This is the ideal choice for you.
              </div>
              <ul class="fa-ul p-3">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Album with 20 Spreads (10”x24”) which means [40 Pages of (10”x12”)] in a Box with your names on it.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  200 Thank you cards for your guests. (You can always ask for more if you want so)              
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Two Framed portraits of you two together.One with the size of 30”x20” and the other with the size of 18"x12", which can be utilized as a signing Photograph.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10”x8” photograph [with out frame] for each Bridesmaid and Flower Girl.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  A table Deco Photographs [of pre shoot / morning session ] for each table .Maximum
                  for 10 tables. Additional per one photo 300/-
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10% Discount on your Home-coming and Enjoy the Free Pre-Shoot with us.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Re-sized Digital copies of photographs captured on the wedding day will be
                  handover to you for your personal use without any watermarks.
                  Moreover, we will keep your photographs forever, which you can recollect them
                  whenever you want them.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Each and every Photograph will be uploaded in our flicker page & Facebook Fan
                  page for you to send the links to your international friends / relations.                
  
              </ul>
            </section>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle ><strong style="font-size:calc(2em); font-family: 'Tangerine';"> Bronze </strong></ng-template>
          <ng-template ngbTabContent>
            <section class="pricing px-5" style="padding-top: 20px;">
              <div class="text-muted">
                Is your wedding a Short and Sweet, and a little budget conscious event with a small crowd? Well , a low budget one ,but you don't want it to 
                be low in what you get. This is the ideal choice for you.
              </div>
              <ul class="fa-ul p-3">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Album with 15 Spreads (10”x24”) which means [30 Pages of (10”x12”)] in a Box with your names on it.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  150 Thank you cards for your guests. (You can always ask for more if you want so)              
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                    A framed portrait photograph, size of 30”x20”. One of 18”x12” sized framed portraits for signing
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10”x8” photograph [with out frame] for each Bridesmaid and Flower Girl.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  A table Deco Photographs [of pre shoot / morning session ] for each table .Maximum
                  for 10 tables. Additional per one photo 300/-
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10% Discount on your Home-coming and Enjoy the Free Pre-Shoot with us.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Re-sized Digital copies of photographs captured on the wedding day will be
                  handover to you for your personal use without any watermarks.
                  Moreover, we will keep your photographs forever, which you can recollect them
                  whenever you want them.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Each and every Photograph will be uploaded in our flicker page & Facebook Fan
                  page for you to send the links to your international friends / relations.                
              </ul>
            </section>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<!-------------------------------------------------| Home Comming |------------------------------------------------->
<div class="container" style="padding-bottom: 50px;">
  <div class="card z-depth-3" style="font-family: 'Jost', sans-serif;text-align: justify;min-height: 830px;">
    <h1 class="title text-center primary-color text-white card-header" style="font-size:calc(3em + 1vw); font-family: 'Tangerine';"> Home Coming </h1>
    <div class="card-body" style="color: black;">
      <ngb-tabset [justify]="currentJustify">
        <ngb-tab>
          <ng-template ngbTabTitle ><strong style="font-size:calc(2em); font-family: 'Tangerine';">Elite</strong></ng-template>
          <ng-template ngbTabContent>
            <section class="pricing px-5" style="padding-top: 20px;">
              <ul class="fa-ul px-3" style="padding-top: 10px;">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Album with 30 Spreads (10”x24”), [60 Pages of (10”x12”)]
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Golden foiled title on both album and the Box.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  At a maximum number of 200, your guests will receive a Thank
                  You card for witnessing your best day, which you get to choose what is best. (You can always ask for more if you want so)             
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Two Framed portraits of you two together.Each reaching maximum size of 36”x24”.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10”x8” photograph [with out frame] for each Bridesmaid and Flower Girl.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Every digital photograph captured on that day with full resolution with-out any
                  watermarks or copy protection on a DVD(s). Every digital photograph captured
                  on that day with full resolution with-out any watermarks or copy protection on a DVD(s) (Blu-ray Disk will provide on request).
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Each and every Photograph will be uploaded in our flicker page & Facebook Fan
                  page for you to send the links to your international friends / relations.             
                </li>
              </ul>
            </section>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle ><strong style="font-size:calc(2em); font-family: 'Tangerine';"> Golden </strong></ng-template>
          <ng-template ngbTabContent>
            <section class="pricing px-5" style="padding-top: 20px;">
              <ul class="fa-ul px-3" style="padding-top: 10px;">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Album with 15 Spreads (10”x24”), [30 Pages of (10”x12”)]
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Golden foiled title on both album and the Box.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  100 thank you cards for your guests. ( You can always ask for more if you want to )  
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  A portraits of you two together with maximum size of 36”x24”.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10”x8” photograph [with out frame] for each Bridesmaid and Flower Girl.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Every digital photograph captured on that day with full resolution with-out any
                  watermarks or copy protection on a DVD(s). Every digital photograph captured
                  on that day with full resolution with-out any watermarks or copy protection on a DVD(s) (Blu-ray Disk will provide on request).
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Each and every Photograph will be uploaded in our flicker page & Facebook Fan
                  page for you to send the links to your international friends / relations.             
                </li>
              </ul>
              <div class="text-muted" style="padding-top: 20px;">
                *Picking up a lower class does not mean the quality or the creativity of the
                photographs or printed materials will be lower. Only the weight of the stuff you
                carry home in the end of the event will be a little lighter.
              </div>
            </section>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle ><strong style="font-size:calc(2em); font-family: 'Tangerine';"> Silver </strong></ng-template>
          <ng-template ngbTabContent>
            <section class="pricing px-5" style="padding-top: 20px;">
              <ul class="fa-ul px-3" style="padding-top: 10px;">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Album with 15 Spreads (10”x24”), [30 Pages of (10”x12”)]
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Golden foiled title on both album and the Box.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  100 thank you cards for your guests. ( You can always ask for more if you want to )  
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  A portraits of you two together with maximum size of 36”x24”.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  10”x8” photograph [with out frame] for each Bridesmaid and Flower Girl.
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Every digital photograph captured on that day with full resolution with-out any
                  watermarks or copy protection on a DVD(s). Every digital photograph captured
                  on that day with full resolution with-out any watermarks or copy protection on a DVD(s) (Blu-ray Disk will provide on request).
                </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                  Each and every Photograph will be uploaded in our flicker page & Facebook Fan
                  page for you to send the links to your international friends / relations.             
                </li>
              </ul>
              <div class="text-muted" style="padding-top: 20px;">
                *Picking up a lower class does not mean the quality or the creativity of the
                photographs or printed materials will be lower. Only the weight of the stuff you
                carry home in the end of the event will be a little lighter.
              </div>
            </section>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>


<!------------------------------------------------| Video Packages |------------------------------------------------->
<div class="container" style="padding-bottom: 50px;">
  <div class="card z-depth-3" style="font-family: 'Jost', sans-serif;text-align: justify;min-height: 830px;">
    <div class="card-header text-white text-center primary-color">
    <h1 class="title" style="font-size:calc(3em + 1vw); font-family: 'Tangerine';"> Video Packages </h1>
    <h6> video packages for Wedding / Home coming- will come in three packs </h6>
    </div>
    <div class="card-body" style="color: black;">
      
    </div>
  </div>
</div>

  