@import "~bootstrap/scss/bootstrap";
html {
    scroll-behavior: smooth;
  }


.bg-img {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100% ;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .95;
    // background: #1C1D21;
    background :black ;
    height: 100% ;
}